<div class="container">
    <div class="col-xs-12" ng-controller="RootController">
        <div class="col-xs-2">
            <div class="vspace-30"></div>
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: page.id === currentPageId}" ng-repeat="page in pages"><a ui-sref="page({id: page.id})">{{page.name}}</a></li>
            </ul>
            <button class="btn btn-default" ng-click="open()">페이지 등록</button>
            <script type="text/ng-template" id="registerPageModal.html">
                <div class="modal-header">
                    <h3 class="modal-title">새로운 페이지 등록</h3>
                </div>
                <div class="modal-body">
                    <form name="registerPageForm" method="post" class="register-page-form">
                        <label for="page-name-input">페이지 이름</label>
                        <span class="error" ng-show="registerPageForm.pageNameInput.$error.required">Required!</span><br />
                        <input id="page-name-input" name="pageNameInput" class="form-control" ng-model="pageName" required>
                        <div class="vspace-30"></div>
                        <label for="page-desc-input">페이지 설명</label>
                        <textarea id="page-desc-input" name="pageDescInput" class="form-control" ng-model="pageDesc"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()">취소</button>
                    <button type="submit" class="btn btn-primary" ng-click="ok()">저장하기</button>
                </div>
            </script>
        </div>
        <div class="col-xs-10">
            <div ui-view></div>
        </div>
    </div>
</div>

