<div class="container">
    <div class="col-xs-12" ng-controller="PagesController">
        <div class="col-xs-2" ng-init="index()">
            <div class="vspace-30"></div>
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{active: page.id == currentPageId}" ng-repeat="page in pages"><a ng-click="show(page.id)">{{page.name}}</a></li>
            </ul>
            <div>
                <div ng-controller="RegisterPageModalController">
                    <script type="text/ng-template" id="registerPageModal.html">
                        <div class="modal-header">
                            <h3 class="modal-title">새로운 페이지 등록</h3>
                        </div>
                        <div class="modal-body">
                            <form name="registerPageForm" method="post" class="register-page-form">
                                <label for="page-name-input">페이지 이름</label>
                                <span class="error" ng-show="registerPageForm.pageNameInput.$error.required">Required!</span><br>
                                <input id="page-name-input" name="pageNameInput" class="form-control" ng-model="pageName" required>
                                <div class="vspace-30"></div>
                                <label for="page-desc-input">페이지 설명</label>
                                <textarea id="page-desc-input" name="pageDescInput" class="form-control" ng-model="pageDesc"></textarea>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()">취소</button>
                        <button type="submit" class="btn btn-primary" ng-click="ok()">저장하기</button>
                        </div>
                    </script>
                    <button class="btn btn-default" ng-click="open()">페이지 등록</button>
                </div>
            </div>
        </div>
        <div class="col-xs-10" ng-controller="ItemsController">
            <div class="border-row" ng-show="page">
                <h3>{{page.name}}<br/><small>{{page.desc}}</small></h3>

            </div>
            <div ng-controller="RegisterItemModalController">
                <script type="text/ng-template" id="registerItemModal.html">
                    <div class="modal-header">
                        <h3 class="modal-title">새로운 아이템 등록</h3>
                    </div>
                    <div class="modal-body">
                        <form name="registerItemForm" method="post" class="register-item-form">
                            <label for="item-name-input">아이템 이름</label>
                            <span class="error" ng-show="registerItemForm.itemNameInput.$error.required">Required!</span><br>
                            <input id="item-name-input" name="itemNameInput" class="form-control" ng-model="itemName" required>
                            <div class="vspace-30"></div>
                            <label for="item-category-input">아이템 종류</label>
                            <span class="error" ng-show="registerItemForm.itemCategoryInput.$error.required">Required!</span><br>
                            <input id="item-category-input" name="itemCategoryInput" class="form-control" ng-model="itemCategory" required>
                            <div class="vspace-30"></div>
                            <label for="item-desc-input">아이템 설명</label>
                            <textarea id="item-desc-input" name="itemDescInput" class="form-control" ng-model="itemDesc"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()">취소</button>
                        <button type="submit" class="btn btn-primary" ng-click="ok()">저장하기</button>
                    </div>
                </script>
                <div class="vspace-20"></div>
                <button class="btn btn-default" ng-click="open()">새로운 아이템 등록</button>
            </div>
            <div ng-show="items.length > 0">
                <div class="vspace-20"></div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>카테고리</th>
                            <th>설명</th>
                            <th>아이템 번호</th>
                            <th>관련 페이지</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{item.name}}</td>
                            <td>{{item.category}}</td>
                            <td>{{item.desc}}</td>
                            <td>{{item.id}}</td>
                            <td><b ng-repeat="page in item.pages">{{page.name}}{{$last ? '' : ', '}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

